<% form_for @note, :html => { :class => 'form' } do |f| %>
  <%= f.error_messages :header_message => t(".could_not_create_note") %>
  
  <p class="form_item">
    <span class="label"><%= f.label :title, t(".title") %></span>
    <%= f.text_field :title, :size => 80 %>
  </p>
  
  <p class="form_item">
    <span class="label"><%= f.label :text, t(".text") %></span>
    <span class="desc"><%= t(".use_textile") %></span>
    <%= f.text_area :text, :cols => 80, :rows => 20 %>
  </p>
  
  <p class="form_item">
    <%= f.check_box :public %>
    <span class="checkbox-label"><%= f.label :public, t(".public") %></span>
    <span class="desc"><%= t(".publicly_visible") %></span>
  </p>
  
  <p><%= f.submit t(".save_note") %></p>
<% end %>
